.header {
    background-color: rgba(97, 96, 99, 0.527);
    max-width: 100%;
    min-width: 10%;
    border: 3px double black;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 4px 17px 0px rgb(22 20 20 / 94%);
    font-size: 10px;
    margin: 40px;
}